{% extends '::base.html.twig' %}


{% block body -%}
    <script>
    $(function(){
        $("#bloodwindow_bwbundle_corto_submit").before('<input type="hidden" id="nombreArchivo" name="nombreArchivo" /><div class="required" style="margin-left:10px; font-weight:bold;">Portada: (930 × 620)</div><br><div id="fileuploader">Subir imagen</div><span id="imagen_subida"><img src="/uploads/{{entity.id}}.jpg" width="0"></span><br>');
        $("#fileuploader").uploadFile({
            url:"upload",
            fileName:"myfile",
            onSuccess:function(files,data,xhr)
            {
                $("#nombreArchivo").val(files);
                var imagen = '<img src="/uploads/temp/' + files + '" width="100">';
                $("#imagen_subida").html(imagen);
            }
        });

       // Si es para el slider, permito editar la imagen del carousel
       $("#bloodwindow_bwbundle_corto_submit").before('<input type="hidden" id="nombreArchivoCarousel" name="nombreArchivoCarousel" /><div class="required" style="margin-left:10px; font-weight:bold;">Imagen carousel: (1600 × 718)</div><br><div id="fileuploader_carousel">Subir imagen</div><span id="imagen_subida_carousel"><img src="/uploads/carousel/{{entity.id}}.jpg" width="0"></span><br>');

       $("#fileuploader_carousel").uploadFile({
        url:"upload/carousel",
        fileName:"myfile",
        onSuccess:function(files,data,xhr)
        {
            $("#nombreArchivoCarousel").val(files);
            var imagen = '<img src="/uploads/carousel/temp/' + files + '" width="100">';
            $("#imagen_subida_carousel").html(imagen);
        }
        });

    });
    </script>
    <h1>Corto creation</h1>
    {{ form(form, { 'attr': {'class': 'form-horizontal', 'role': 'form', 'novalidate': 'novalidate'} }) }}
    <div id="fileuploader"></div><span id="imagen_subida"></span>
        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_corto') }}">
            Volver al listado
        </a>
    </li>
</ul>
<link href="/web/bundles/bloodwindowbw/css/uploadfile.min.css" rel="stylesheet">
<script src="/web/bundles/bloodwindowbw/js/jquery/jquery.uploadfile.min.js"></script>

{% endblock %}
