{% extends '::base.html.twig' %}


{% block body -%}
    <script>
    $(function(){
        $("form").append('<input type="hidden" id="nombreArchivo" name="nombreArchivo" />');
        $("#fileuploader").uploadFile({
            url:"upload",
            fileName:"myfile",
            onSuccess:function(files,data,xhr)
            {
                $("#nombreArchivo").val(files);
                var imagen = '<img src="/uploads/temp/' + files + '" width="100">';
                $("#imagen_subida").html(imagen);
            }
        });
    });
    </script>
    <h1>Corto creation</h1>

    {{ form(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}
    <div id="fileuploader">Subir imagen</div><span id="imagen_subida"></span>
        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_corto') }}">
            Back to the list
        </a>
    </li>
</ul>
<link href="/web/bundles/bloodwindowbw/css/uploadfile.min.css" rel="stylesheet">
<script src="/web/bundles/bloodwindowbw/js/jquery/jquery.uploadfile.min.js"></script>

{% endblock %}
