<div class="idioma col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-xs">
	<a class="ico-en pull-right" href="#"><img class="img-responsive" src="/web/bundles/bloodwindowbw/theme/images/ico-eng.png" alt="" /></a>
	<a class="ico-es pull-right" href="#"><img class="img-responsive" src="/web/bundles/bloodwindowbw/theme/images/ico-esp.png" alt="" /></a>
</div>
<div class="clearfix"></div>

<!--PROYECTOS EN DESARROLLO -->
<article class="cont-detalles pb0">
	<h1 class="pull-left">Proyectos en desarrollo</h1>
	<div class="clearfix"></div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	<div class="cont-proyectos-des col-lg-10 col-md-10 col-sm-12 col-xs-12">
		<div class="well-none">
            <carousel class="carousel slide">
                <!-- Carousel items -->
                <slide>
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                        	<a href="#" class="thumbnail">
                        		<div class="info-hover">
                        			<p>Año: <b>2013</b></p>
									<p>Director: <b>George A. Romero</b></p>
									<p>Pais: <b>Argentina</b></p>
                        		</div>
                        		<img src="/web/bundles/bloodwindowbw/theme/images/img-proyectos-01.jpg" alt="Image" class="img-responsive">
                        		
                        	</a>
                        	<h3 class="text-center">Nombre del Proyecto</h3>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                        	<a href="#" class="thumbnail">
                        		<div class="info-hover">
                        			<p>Año: <b>2013</b></p>
									<p>Director: <b>George A. Romero</b></p>
									<p>Pais: <b>Argentina</b></p>
                        		</div>
                        		<img src="/web/bundles/bloodwindowbw/theme/images/img-proyectos-02.jpg" alt="Image" class="img-responsive">
                        		
                        	</a>
                        	<h3 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                        	<a href="#" class="thumbnail">
                        		<div class="info-hover">
                        			<p>Año: <b>2013</b></p>
									<p>Director: <b>George A. Romero</b></p>
									<p>Pais: <b>Argentina</b></p>
                        		</div>
                        		<img src="/web/bundles/bloodwindowbw/theme/images/img-proyectos-03.jpg" alt="Image" class="img-responsive">
								
                        	</a>
                        	<h3 class="text-center">Nombre del Proyecto</h3>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                        	<a href="#" class="thumbnail">
                        		<div class="info-hover">
                        			<p>Año: <b>2013</b></p>
									<p>Director: <b>George A. Romero</b></p>
									<p>Pais: <b>Argentina</b></p>
                        		</div>
                        		<img src="/web/bundles/bloodwindowbw/theme/images/img-proyectos-04.jpg" alt="Image" class="img-responsive">
                        		
                        	</a>
                        	<h3 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                        </div>
                    </div>
                    <!--/row-->
                </slide>
                <!--/item-->
                <slide>
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                        	<a href="#" class="thumbnail">
                        		<div class="info-hover">
                        			<p>Año: <b>2013</b></p>
									<p>Director: <b>George A. Romero</b></p>
									<p>Pais: <b>Argentina</b></p>
                        		</div>
                        		<img src="/web/bundles/bloodwindowbw/theme/images/img-proyectos-01.jpg" alt="Image" class="img-responsive">
                        		
                        	</a>
                        	<h3 class="text-center">Nombre del Proyecto</h3>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                        	<a href="#" class="thumbnail">
                        		<div class="info-hover">
                        			<p>Año: <b>2013</b></p>
									<p>Director: <b>George A. Romero</b></p>
									<p>Pais: <b>Argentina</b></p>
                        		</div>
                        		<img src="/web/bundles/bloodwindowbw/theme/images/img-proyectos-02.jpg" alt="Image" class="img-responsive">
                        		
                        	</a>
                        	<h3 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                        	<a href="#" class="thumbnail">
                        		<div class="info-hover">
                        			<p>Año: <b>2013</b></p>
									<p>Director: <b>George A. Romero</b></p>
									<p>Pais: <b>Argentina</b></p>
                        		</div>
                        		<img src="/web/bundles/bloodwindowbw/theme/images/img-proyectos-03.jpg" alt="Image" class="img-responsive">
								
                        	</a>
                        	<h3 class="text-center">Nombre del Proyecto</h3>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                        	<a href="#" class="thumbnail">
                        		<div class="info-hover">
                        			<p>Año: <b>2013</b></p>
									<p>Director: <b>George A. Romero</b></p>
									<p>Pais: <b>Argentina</b></p>
                        		</div>
                        		<img src="/web/bundles/bloodwindowbw/theme/images/img-proyectos-04.jpg" alt="Image" class="img-responsive">
                        		
                        	</a>
                        	<h3 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                        </div>
                    </div>
                    <!--/row-->
                </slide>
                <!--/item-->
                <slide>
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                        	<a href="#" class="thumbnail">
                        		<div class="info-hover">
                        			<p>Año: <b>2013</b></p>
									<p>Director: <b>George A. Romero</b></p>
									<p>Pais: <b>Argentina</b></p>
                        		</div>
                        		<img src="/web/bundles/bloodwindowbw/theme/images/img-proyectos-01.jpg" alt="Image" class="img-responsive">
                        		
                        	</a>
                        	<h3 class="text-center">Nombre del Proyecto</h3>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                        	<a href="#" class="thumbnail">
                        		<div class="info-hover">
                        			<p>Año: <b>2013</b></p>
									<p>Director: <b>George A. Romero</b></p>
									<p>Pais: <b>Argentina</b></p>
                        		</div>
                        		<img src="/web/bundles/bloodwindowbw/theme/images/img-proyectos-02.jpg" alt="Image" class="img-responsive">
                        		
                        	</a>
                        	<h3 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                        	<a href="#" class="thumbnail">
                        		<div class="info-hover">
                        			<p>Año: <b>2013</b></p>
									<p>Director: <b>George A. Romero</b></p>
									<p>Pais: <b>Argentina</b></p>
                        		</div>
                        		<img src="/web/bundles/bloodwindowbw/theme/images/img-proyectos-03.jpg" alt="Image" class="img-responsive">
								
                        	</a>
                        	<h3 class="text-center">Nombre del Proyecto</h3>
                        </div>
                    </div>
                    <!--/row-->
                </slide>
                <!--/item-->
            </carousel>
            <!--/myCarousel-->
        </div>
        <!--/well-->
	</div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	<div class="clearfix"></div>
</article>
<div class="clearfix"></div>