<!--idioma -->
<div class="idioma col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-xs">
	<a class="ico-en pull-right" href="#"><img class="img-responsive" src="/web/bundles/bloodwindowbw/theme/images/ico-eng.png" alt="" /></a>
	<a class="ico-es pull-right" href="#"><img class="img-responsive" src="/web/bundles/bloodwindowbw/theme/images/ico-esp.png" alt="" /></a>
</div>
<div class="clearfix"></div>
<!--CONTENIDO DETALLE PROYECTO -->
<article class="cont-detalles">
	<h1 class="pull-left">Demented {{id}}</h1>
	<div class="clearfix"></div>
	<div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
	<div class="cont-detalle-proyecto col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<div class="proyecto-video col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<img src="/web/bundles/bloodwindowbw/theme/images/imgVideo-detalle-proyecto.jpg" class="img-responsive" alt="" />
		</div>
		<div class="clearfix"></div>
		<div class="proyecto-info col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<p>
					<b>Título (película): </b> <br />
					Demented
				</p>
				<p>
					<b>Director: </b> <br />
					Andrés Ramírez
				</p>
				<p>
					<b>Duración (película):  </b> <br />
					97 min
				</p>
				<p>
					<b>Países involucrados (película): </b> <br />
					Puerto Rico
				</p>
				<p>
					<b>Cargo (persona): </b> <br />
					Productor/a 
				</p>
				<p>
					<b>Sinopsis: </b> <br />					
					Nathan Stone es un fotógrafo de lo morboso muy reconocido y 
					exitoso. Cuando comienza a desmayarse cada ciertas horas 
					misteriosamente su vida empieza a parecerse a las fotos que 
					toma, debe confrontar su pasado oscuro para determinar si 
					es él el asesino o alguien allegado a él. 
				</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<p>
					<b>Compañías Productoras: </b> <br />
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				</p>
				<p>
					<b>Nombre de la Compañía: </b> <br />
					Non-Studios
				</p>
				<p>
					<b>E-Mail: </b> <br />
					mullena2003@yahoo.com
				</p>
				<p>
					<b>Productora: </b> <br />						
					Annabelle Mullen
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
	<div class="clearfix"></div>
</article>