<div class="idioma col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-xs">
	<a class="ico-en pull-right" href="#"><img class="img-responsive" src="/web/bundles/bloodwindowbw/theme/images/ico-eng.png" alt="" /></a>
	<a class="ico-es pull-right" href="#"><img class="img-responsive" src="/web/bundles/bloodwindowbw/theme/images/ico-esp.png" alt="" /></a>
</div>
<div class="clearfix"></div>
<!--slider -->
<article class="slide">
	<section class="block">

		<carousel interval="myInterval" ng-show="showCarousel">
		  <slide ng-repeat="slide in slides" active="slide.active" ng-click="openCortoDetail(slide.id)">
            	<div class="desc-item col-lg-6 col-md-6 hidden-sm hidden-xs" style="text-align: left;">
            		<h1>{{slide.titulo}}</h1>
            		<div class="info-item">
            			<!--<h2>{{slide.name}}</h2>-->
            			<p>{{slide.sinopsis}}</p>
						<div class="detail-info-item">
							<p class="director">Director: <b>{{slide.director}}</b> </p>
							<p class="duracion">Duración: <b>{{slide.duracion}}</b></p>
							<p class="festival">Festival: <b>{{slide.festival}}</b></p>
						</div>
            		</div>
            	</div>
                <img src="/web/bundles/bloodwindowbw/theme/images/carousel{{slide.id}}.jpg" alt="Slide{{slide.id}}" />
		  </slide>
		</carousel>

		<!-- Show when user is searching for something -->
		<h1 ng-hide="showCarousel">{{searchInputText}}</h1>

	</section>
</article>
<section class="cat-movies">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<ul class="nav nav-tabs listado-tabs" role="tablist">
			<li ng-class="{active: 'Todos' == currentFestival}" ng-click="setCurrentFestival(festival)"><a>Todos</a></li>
			<li ng-repeat="festival in festivals" ng-class="{active: '{{festival}}' == currentFestival}" ng-click="setCurrentFestival(festival)"><a>{{festival}}</a></li>
		</ul>

		<div class="tab-content">
	      <div class="tab-pane fade active in">
	        <div class="item-listado-tab">
	        	<div class="col-xs-12 col-sm-6 col-lg-4 thumb" ng-repeat="corto in filterCortos">
	        		<a ng-click="openCortoDetail(corto.id)">
	        			<div class="desc-item-listado">
	        				<h3>{{corto.titulo}}</h3>
	        				<p>Genero: <span>{{corto.genero}}</span></p>
	        				<p>Año: <span>{{corto.anio}}</span></p>
	        				<p>Director: <span>{{corto.director}}</span></p>
	        				<p>Festival: <span>{{corto.festival}}</span></p>
	        			</div>
	        			<img src="/web/bundles/bloodwindowbw/theme/images/img-cat-{{corto.id}}.jpg" class="img-responsive">
	        		</a>
	        	</div>
	        </div>
	      </div>
	    </div>
	</div>
</section>
