<!--CONTENIDO DETALLE PROYECTO -->
<article class="cont-detalles pb0 mt0">
	<h1 class="pull-left" ng-hide="showPreloader">{{workResult.titulo}}</h1>
	<!-- Preloader -->
	<h1 class="pull-left" ng-show="showPreloader">
	    <img ng-src="/web/bundles/bloodwindowbw/theme/images/loader-white.GIF" width="24px" height="24px">
	</h1>
	<!-- /Preloader -->
	<div class="clearfix"></div>
	<div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
	<div class="cont-detalle-proyecto col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<div ng-show="workResult" class="proyecto-video col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="embed-container">
				<iframe ng-src="{{trustSrc('109976075')}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <!-- CHANGE FOR  workResult.urlVideo -->
			</div>
		</div>
		<div ng-show="workResult" class="clearfix"></div>
		<div ng-show="workResult" class="proyecto-info col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<p>
					<b>{{languageWorkDetail.workTitle}}: </b> <br />
					{{workResult.titulo}}
				</p>
				<p>
					<b>{{languageWorkDetail.director}}: </b> <br />
					{{workResult.director}}
				</p>
				<p>
					<b>{{languageWorkDetail.duration}}:  </b> <br />
					{{workResult.duracion}} min
				</p>
				<p>
					<b>{{languageWorkDetail.countriesInvolved}}: </b> <br />
					{{workResult.pais}}
				</p>
				<p>
					<b>{{languageWorkDetail.position}}: </b> <br />
					{{workResult.cargo}}
				</p>
				<!-- Show for Spanish -->
    			<p ng-show="language == 'esp'">
					<b>{{languageWorkDetail.synopsis}}: </b> <br />
					{{workResult.sinopsisEspaniol}}
				</p>
				<!-- Show for English -->
    			<p ng-show="language == 'eng'">
					<b>{{languageWorkDetail.synopsis}}: </b> <br />
					{{workResult.sinopsisIngles}}
				</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<p>
					<b>{{languageWorkDetail.company}}: </b> <br />
					{{workResult.compania}}
				</p>
				<p>
					<b>{{languageWorkDetail.goals}}: </b> <br />
					{{workResult.metas}}
				</p>
				<p>
					<b>{{languageWorkDetail.projectStatus}}: </b> <br />
					{{workResult.estado}}
				</p>
				<!-- Show for Spanish 
    			<p ng-show="language == 'esp'">
					<b>{{languageWorkDetail.projectStatus}}: </b> <br />
					{{workResult.estadoEspaniol}}
				</p> -->
				<!-- Show for English
    			<p ng-show="language == 'eng'">
					<b>{{languageWorkDetail.projectStatus}}: </b> <br />
					{{workResult.estadoIngles}}
				</p> -->
				<p>
					<b>{{languageWorkDetail.mail}}: </b> <br />
					<a href="mailto:{{workResult.email}}?Subject=Hello%20from%20BloodWindow%20App" target="_top" class="whiteLink">{{workResult.email}}</a>
				</p>
				<p>
					<b>{{languageWorkDetail.phone}}: </b> <br />					
					<a href="callto:{{workResult.telefono}}" class="whiteLink">{{workResult.telefono}}</a>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- Show when error when connecting to server or when corto not found in DB -->
		<div ng-hide="workResult" class="oppsError col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<p><b>Oops!</b> {{languageWorkDetail.error}}</p>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
	<div class="clearfix"></div>
</article>