<!--WORKS IN PROGRESS -->
<article class="cont-detalles pb0 mt0">
	<h1 class="pull-left">{{languageWorks.title}}</h1>
	<div class="clearfix"></div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	<div class="cont-work-des col-lg-10 col-md-10 col-sm-12 col-xs-12">
		<div class="well-none">
            <carousel class="carousel slide">
                <!-- Carousel items -->
                <slide  ng-repeat="t in works"> <!-- Create a slide every 4 proyectos -->
                    <div class="row">
                        <div class="col-sm-3 col-xs-6" ng-repeat="work in works[$index]">
                            <a href="#/work/{{work.id}}" class="thumbnail">
                                <div class="info-hover">
                                    <p>{{languageProyectos.year}}: <b>{{work.anio}}</b></p>
                                    <p>{{languageProyectos.director}}: <b>{{work.director}}</b></p>
                                    <p>{{languageProyectos.country}}: <b>{{work.pais}}</b></p>
                                </div>
                                <img src="/web/bundles/bloodwindowbw/theme/images/img-proyectos-0{{$index+1}}.jpg" alt="Image" class="img-responsive">
                                
                            </a>
                            <h3 class="text-center">{{work.titulo}}</h3>
                        </div>
                    </div>
                    <!--/row-->
                </slide>
                <!--/item-->
            </carousel>
        </div>
        <!--/well-->
        <!-- Preloader -->
        <div class="preloader" ng-hide="works">
            <img src="/web/bundles/bloodwindowbw/theme/images/loader.GIF">
        </div>
        <!-- /Preloader -->
	</div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	<div class="clearfix"></div>
</article>
<div class="clearfix"></div>