<!--CONTENIDO DETALLE WORK IN PROGRESS -->
<article class="cont-detalles">
	<h1 class="pull-left">{{proyectoResult.tituloEspaniol}}</h1>
	<div class="clearfix"></div>
	<div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
	<div class="cont-detalle-work col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<div ng-show="proyectoResult" class="work-info col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<p>
					<b>{{languageProyectoDetail.projectTitle}}: </b> <br />
					{{proyectoResult.tituloEspaniol}}
				</p>
				<p>
					<b>{{languageProyectoDetail.countryMajorityProducer}}: </b> <br />
					{{proyectoResult.pais}}
				</p>
				<p>
					<b>{{languageProyectoDetail.duration}}: </b> <br />
					{{proyectoResult.duracion}} min
				</p>
				<p>
					<b>{{languageProyectoDetail.synopsis}}: </b> <br />
					{{proyectoResult.sinopsisEspaniol}}
				</p>
				<p>
					<b>{{languageProyectoDetail.budget}}: </b> <br />
					{{proyectoResult.presupuesto}} - USD 
				</p>
				<p>
					<b>{{languageProyectoDetail.budgetAcquired}}: </b> <br />
					{{proyectoResult.presupuesto}} % <!-- CHANGE -->
				</p>
				<p>
					<b>{{languageProyectoDetail.financing}}: </b> <br />
					{{proyectoResult.financiacionEspaniol}}
				</p>
				<p>
					<b>{{languageProyectoDetail.company}}: </b> <br />{{proyectoResult.compania}}
				</p>
				<p>
					<b>{{languageProyectoDetail.mail}}: </b> <br />					
					<a href="mailto:{{proyectoResult.email}}?Subject=Hello%20from%20BloodWindow%20App" target="_top">{{proyectoResult.email}}</a> 
				</p>
				<p>
					<b>{{languageProyectoDetail.phone}}: </b> <br />
					<a href="callto:{{proyectoResult.telefono}}">{{proyectoResult.telefono}}</a>
				</p>
				<p>
					<b>{{languageProyectoDetail.website}}: </b> <br />				
					<a href="http://{{proyectoResult.website}}" target="_blank">{{proyectoResult.website}}</a>
				</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="work-video col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<img src="/web/bundles/bloodwindowbw/theme/images/img-detalle-work.jpg" class="img-responsive" alt="" />
				</div>
				<p>
					<b>{{languageProyectoDetail.objective}}: </b> <br />
					{{proyectoResult.objetivoEspaniol}}
				</p>
				<p>
					<b>{{languageProyectoDetail.projectStatus}}: </b> <br />
					{{proyectoResult.estadoEspaniol}}
				</p>
				<p>
					<b>{{languageProyectoDetail.directorsVision}}: </b> <br />
					{{proyectoResult.visionEspaniol}}
				</p>
				<p>
					<b>{{languageProyectoDetail.directorsName}}: </b> <br />	{{proyectoResult.director}}
				</p>
				<p>
					<b>{{languageProyectoDetail.directorsCV}}: </b> <br />	{{proyectoResult.cvDirEspaniol}}
				</p>
				<p>
					<b>{{languageProyectoDetail.producersName}}: </b> <br />{{proyectoResult.productor}}
				</p>
				<p>
					<b>{{languageProyectoDetail.producersCV}}: </b> <br />{{proyectoResult.cvProdEspaniol}}
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- Show when error when connecting to server or when corto not found in DB -->
		<div ng-hide="proyectoResult" class="proyecto-info col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<p><b>Oops!</b> {{languageProyectoDetail.error}}</p>
		</div>
	</div>
	<div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
	<div class="clearfix"></div>
</article>