<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <h3>CortoId: <b>{{ id }}</b></h3>
    <iframe src="//player.vimeo.com/video/106839392" width="500" height="213" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/106839392">La Carnada</a> from <a href="http://vimeo.com/user2404074">Josh Soskin</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>