<div class="modal-header">
<button class="close icon-cancel-circled2 btn-modal-close" ng-click="ok()"></button>
<h4 class="modal-title" id="myModalLabel">{{cortoResult.titulo}}</h4>
</div>
<div class="modal-body">
    <div class="row" ng-show="cortoResult">
    	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    		<div class="item-modal-video">
    			<iframe src="//player.vimeo.com/video/106839392" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<div class="clearfix"></div>
			<div class="item-modal-sinopsis">
				<b>{{cortoResult.titulo}}:</b> {{cortoResult.sinopsis}}
			</div>
			<div class="item-modal-redes">
				<a href="#" class="icon-facebook"></a>
				<a href="#" class="icon-twitter"></a>
				<a href="#" class="icon-instagram"></a>
				<a href="#" class="icon-youtube"></a>
			</div>
    	</div>
    	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    		<div class="item-modal-rankig">
				<img src="/web/bundles/bloodwindowbw/theme/images/estrella-ranking.png" class="img-responsive pull-left" alt="" />
				<img src="/web/bundles/bloodwindowbw/theme/images/estrella-ranking.png" class="img-responsive pull-left" alt="" />
				<img src="/web/bundles/bloodwindowbw/theme/images/estrella-ranking.png" class="img-responsive pull-left" alt="" />
				<img src="/web/bundles/bloodwindowbw/theme/images/estrella-ranking.png" class="img-responsive pull-left" alt="" />
				<img src="/web/bundles/bloodwindowbw/theme/images/estrella-ranking.png" class="img-responsive pull-left" alt="" />
    		</div>
    		<div class="clearfix"></div>
			<div class="item-modal-datos">
    			<p><b>Año:</b> {{cortoResult.anio}}</p>
    			<p><b>Género:</b> {{cortoResult.genero}}</p>
    			<p><b>Duración:</b> {{cortoResult.duracion}}</p>
    			<br />
    			<p><b>Festival:</b> {{cortoResult.festival}}</p>
    			<p><b>Director:</b> {{cortoResult.director}}</p>
    			<!-- <p><b>Reparto:</b> {{cortoResult.reparto}}</p> -->
    			<p><b>Compañia:</b> {{cortoResult.compania}}</p>
    			<p><b>Teléfono:</b> {{cortoResult.telefono}}</p>
    		</div>
    		<div class="clearfix"></div>
    		<div class="item-modal-festival">
    			<img src="/web/bundles/bloodwindowbw/theme/images/icon-festival-01.png" class="img-responsive" alt="" />
    		</div>
    	</div>
    </div>
    <!-- Show when error -->
    <div class="row" ng-hide="cortoResult">
    	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<div class="clearfix"></div>
			<div class="item-modal-sinopsis">
				<b>Error:</b> no se encontro el corto, vuelva a intenar mas tarde!
			</div>
			<div class="clearfix"></div>
    	</div>
    </div>
</div>
