{% extends '::base.html.twig' %}

{% block body -%}
	<script>
    $(function(){
        $("#bloodwindow_bwbundle_work_submit").before('<input type="hidden" id="nombreArchivo" name="nombreArchivo" /><div class="required" style="margin-left:10px; font-weight:bold;">Portada: </div><br><div id="fileuploader">Subir imagen</div><span id="imagen_subida"><img src="/uploads/work/{{entity.id}}.jpg" width="0"></span><br>');
        $("#fileuploader").uploadFile({
            url:"upload",
            fileName:"myfile",
            onSuccess:function(files,data,xhr)
            {
                $("#nombreArchivo").val(files);
                var imagen = '<img src="/uploads/work/temp/' + files + '" width="100">';
                $("#imagen_subida").html(imagen);
            }
        });
    });
    </script>
    <h1>Work edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_work') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

<link href="/web/bundles/bloodwindowbw/css/uploadfile.min.css" rel="stylesheet">
<script src="/web/bundles/bloodwindowbw/js/jquery/jquery.uploadfile.min.js"></script>

{% endblock %}
